---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/' | url }}"><span class="small-text-icon">🠰</span> Derniers articles</a>
</nav>
