:root {
	--primary: #FB1C1C;
	--secondary: #da720a;
	--background: #131311;
	--accent-background: #000;
	--primary-text-color: #FFF;
	--text-color-on-secondary: #000;
	--text-color-on-soft: #FFF;
	--soft-color: #4c4c4b;
	--blockquote-border-color: #424242;
	--blockquote-text-color: #000;
	--blockquote-bg-color: #212121;
	--blockquote-primary: #F44;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	max-width: 50em;
	margin: 0 auto;
	color: var(--primary-text-color);
}

.hidden {
	display: none;
}

main {
	text-align: justify;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

.postslist h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

article img:not(.icon) {
	display: block;
	margin: 0 auto;
}

.twitter-link-icon {
	height: .6rem;
}

article figure {
	text-align: center;
}

article video {
	display: block;
	margin: 0 auto;
	max-width: 100%
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
@font-face {
	font-family: 'Kremlin';
	src: url('/static/fonts/Kremlin.woff2') format('woff2'),
			url('/static/fonts/Kremlin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
	font-family: 'Kremlin';
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--accent-background);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .6em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	background-color: var(--soft-color);
	color: var(--text-color-on-soft);
	border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact & comment forms */
form {
  display: grid;
}

input,
textarea,
button {
  margin-bottom: 1em;
}

input:not([type="checkbox"]),
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
	background-color: var(--accent-background);
}

input:not([type="checkbox"]),
textarea {
	border: 1px solid black;
	color: var(--primary-text-color);
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--primary-text-color);
	cursor: pointer;
}

button.secondary {
	border: none;
	background-color: var(--secondary);
	color: var(--text-color-on-secondary);
}

button.soft {
	border: none;
	background-color: var(--soft-color);
	color: var(--text-color-on-soft);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

.post__footer {
	display: flex;
	justify-content: space-between;
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.blog__footer {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

blockquote {
	border-left: 5px solid var(--blockquote-border-color);
	background-color: var(--blockquote-bg-color);
	margin-inline: 0;
	padding: 1rem;
}

blockquote a {
	color: var(--blockquote-primary) !important;
}

blockquote p:last-child {
	margin-bottom: 0;
}

.post__comments {
	margin-top: 2rem;
}

.comment {
	border: 1px solid var(--blockquote-border-color);
	padding: 1rem;
	margin-bottom: 1rem;
}

.comment__header {
	margin-bottom: 1rem;
}

fieldset {
	border: none;
}

fieldset.consent {
	display: flex;
	gap: 1rem;
}

.small-text-icon {
	font-weight: bolder;
}
