<form method="post" action="/.netlify/functions/staticman?branch=main">
    <input type="text" name="fields[name]" placeholder="Votre nom ou pseudo" title="Veuillez entrer un nom ou un pseudo afin d'indiquer qui poste ce message" aria-label="Votre nom ou pseudo" required>

    <input type="text" name="fields[url]" placeholder="URL optionnelle vers votre profil ou contact" pattern="(mailto:[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)|((?:https?):\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" title='Veuillez entrer une URL valide pointant vers votre page web ou votre adresse email (URL commençant respectivement avec "https://" ou "mailto:"). Ce champs étant optionnel, vous pouvez également ne rien indiquer' aria-labem="URL"></input>

    <textarea name="fields[message]" placeholder="Écrivez un truc interessant..." rows="7" aria-label="Votre message" required></textarea>

    <fieldset class="consent">
      <input id="consent" type="checkbox" name="consent" required>
      <label for="consent">J'ai lu le <a href="/coc">code de conduite</a> et l'ai respecté en écrivant ce commentaire.</label>
    </fieldset>


  <input type="hidden" name="fields[post]" value="{{ page.fileSlug }}">
  <input type="hidden" name="options[redirect]" value="/comment-submitted">
  <input type="hidden" name="options[redirectError]" value="/comment-error">

  {% if staticman.reCaptchaSiteKey %}
    <div class="g-recaptcha" data-sitekey="{{ staticman.reCaptchaSiteKey }}"></div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  {% endif %}

  <p>
    <button type="submit" class="secondary">Envoyer</button>
  </p>
</form>