<form method="post" action="/.netlify/functions/staticman?branch=main">
    <label for="name">Votre nom ou pseudo</label>
    <input id="name" type="text" name="fields[name]" placeholder="Votre nom ou pseudo" title="Veuillez entrer un nom ou un pseudo afin d'indiquer qui poste ce message" required>

    <label for="url">URL</label>
    <input id="url" type="text" name="fields[url]" placeholder="URL optionnelle vers votre profil ou contact" pattern="(mailto:[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)|((?:https?):\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" title='Veuillez entrer une URL valide pointant vers votre page web ou votre adresse email (URL commençant respectivement avec "https://" ou "mailto:"). Ce champs étant optionnel, vous pouvez également ne rien indiquer'></input>

    <label for="message">Votre message</label>
    <textarea id="message" name="fields[message]" placeholder="Écrivez un truc interessant..." rows="7" required></textarea>

  <input type="hidden" name="fields[post]" value="{{ page.fileSlug }}">
  <input type="hidden" name="options[redirect]" value="/comment-submitted">
  <input type="hidden" name="options[redirectError]" value="/comment-error">

  {% if staticman.reCaptchaSiteKey %}
    <div class="g-recaptcha" data-sitekey="{{ staticman.reCaptchaSiteKey }}"></div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  {% endif %}

  <p>
    <button type="submit" class="secondary">Envoyer</button>
  </p>
</form>