<form name="contact" method="POST" data-netlify="true">
  <label for="name">Nom</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Votre nom (ou pseudo, osef)" title="Veuillez entrer un nom afin de m'aider à m'y retrouver" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Votre adresse email" title="Le nom de domaine de cettre adresse email (la section après le @) est invalide." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Écrivez un truc interessant..." rows="7" required></textarea>
  <fieldset class="consent">
    <input id="consent" type="checkbox" name="consent" required>
    <label for="consent">J'ai lu le <a href="/coc">code de conduite</a> et l'ai respecté en écrivant ce message.</label>
  </fieldset>
  <button type="submit">Envoyer</button>
</form>
