---
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 3
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
section: /
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = pagination.items %}
{% include "components/postslist.njk" %}

<nav class="blog__footer">
  {% if pagination.href.previous %}<div><a href="{{ pagination.href.previous }}" class="small-text-icon" aria-label="page précédente">🠰</a></div>{% endif %}
  {%- for pageEntry in pagination.pages %}
  <div>{% if page.url == pagination.hrefs[ loop.index0 ] %}{{ loop.index }}{% else %}<a href="{{ pagination.hrefs[ loop.index0 ] }}" aria-label="page numéro {{ loop.index }}">{{ loop.index }}</a>{% endif %}</div>
  {%- endfor %}
  {% if pagination.href.next %}<div><a href="{{ pagination.href.next }}" class="small-text-icon" aria-label="page suivante">🠲</a></div>{% endif %}
</nav>